@font-face {
  font-family: "iconfont"; /* Project id 2436804 */
  src: url('iconfont.woff2?t=1621740730418') format('woff2'),
       url('iconfont.woff?t=1621740730418') format('woff'),
       url('iconfont.ttf?t=1621740730418') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshibai:before {
  content: "\e623";
}

.iconchenggong:before {
  content: "\e68f";
}

.iconmima:before {
  content: "\e621";
}

.iconyaoqingma:before {
  content: "\e66e";
}

.iconzhanghao:before {
  content: "\e678";
}

.iconyanzhengma:before {
  content: "\e668";
}

.iconjiantoudown:before {
  content: "\e7a9";
}

.iconjiantouleft:before {
  content: "\e7aa";
}

.iconjiantouup:before {
  content: "\e7ab";
}

.iconwode:before {
  content: "\e638";
}

.iconjiantouright:before {
  content: "\e616";
}

.iconshangcheng:before {
  content: "\e7a8";
}

.iconziyuan:before {
  content: "\e622";
}

.iconguanbi:before {
  content: "\e641";
}

.iconjia:before {
  content: "\e779";
}

